body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
        Arial, sans-serif;
    margin: auto;
    max-width: 38rem;
    padding: 2rem;
}

#app {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.bg-dark {
    background-color: var(--el-bg-color);
}